<header class="bg-gradient-to-r from-blue-800 to-blue-500 text-white p-6 text-center shadow-lg">
    <h1 class="text-3xl font-semibold"><a href="" class="hover:underline">Games Hub</a> 
        - Central de Jogos sobre Computação <a href="/admin" class="hover:underline">#</a></h1>
</header>