<footer class="p-2 md:p-4 text-white bg-gradient-to-r from-blue-800 to-blue-500">
    <div class="flex items-center w-full md:w-[80%] lg:w-[65%] mx-auto flex-col">
        <!-- Primeira linha: links -->
        <div class="flex justify-center text-center md:justify-end w-full my-2 space-x-4">
            <a href="/sobre" class="hover:underline">Sobre Nós</a>
            <a href="/contato" class="hover:underline">Contato</a>
            <a href="https://serde-page-project.vercel.app/" class="hover:underline">SERDE</a>
            <a href="https://www2.unifap.br/ccomputacao/" class="hover:underline">Site do Curso</a>
        </div>

        <!-- Segunda linha: logo, direitos reservados e informações da universidade -->
        <div class="flex flex-col md:flex-row justify-between w-full items-center space-y-4 md:space-y-0">
            <!-- Div da imagem (logo) e direitos reservados -->
            <div class="w-full flex flex-row md:flex-col items-center justify-center md:w-56">
                <div class="flex flex-col items-center justify-center self-end w-1/2 md:w-56">
                    <a href="/" class="hover:underline">
                        <img src="/images/logo.png" alt="logo" class="w-20 md:w-32">
                    </a>
                    <p class="mt-2 text-center">
                        &copy; 2024 <a href="/" class="hover:underline">EduGames</a>.
                    </p>
                    <p class="text-center">Todos os direitos reservados.</p>
                </div>
                <div class="flex flex-col items-center justify-center self-end w-1/2 md:hidden md:w-56">
                    <a href="https://serde-page-project.vercel.app/" class="hover:underline">
                        <img src="/images/serde-logo-branco.png" alt="logo" class="w-44">
                    </a>
                    <p class="mt-2 text-center">
                        <a href="https://serde-page-project.vercel.app/" class="hover:underline">Grupo de Pesquisa SERDE</a>
                    </p>
                </div>
            </div>

            <!-- Div das informações da universidade -->
            <div class="mt-4 text-center text-gray-200 flex flex-col self-end">
                <p>Ciência da Computação | Universidade Federal do Amapá</p>
                <p>Endereço: Rodovia Josmar Chaves Pinto - KM 02, 68903-419 - Macapá - AP</p>
            </div>

            <!-- Div vazia para simetria (visível apenas em lg) -->
            <div class="hidden md:flex flex-col items-center justify-center self-end w-1/2 md:block md:w-56">
                <a href="https://serde-page-project.vercel.app/" class="hover:underline">
                    <img src="/images/serde-logo-branco.png" alt="logo" class="w-36 md:w-56">
                </a>
                <p class="mt-2 text-center">
                    <a href="https://serde-page-project.vercel.app/" class="hover:underline">Grupo de Pesquisa SERDE</a>
                </p>
            </div>
        </div> 
    </div>
</footer>