<footer class="p-4 text-white bg-gradient-to-r from-blue-800 to-blue-500">
    <div class="flex items-center w-[65%] mx-auto">
        <div class="flex items-center justify-center">
            <a href="/" class="hover:underline">
                <img src="../images/logo.png" alt="logo" class="w-32">
            </a>
        </div>

        <div class="flex flex-col justify-between w-full ml-4">
            <div class="flex justify-between mt-4 mb-10">
                <p>&copy; 2024 <a href="/" class="hover:underline">Games Hub</a>. Todos os direitos reservados.</p>
                <div class="flex space-x-4">
                    <a href="/sobre" class="hover:underline">Sobre Nós</a>
                    <a href="/contato" class="hover:underline">Contato</a>
                    <a href="/politica-privacidade" class="hover:underline">Política de Privacidade</a>
                    <a href="https://www2.unifap.br/ccomputacao/" class="hover:underline">Site do Curso</a>
                </div>
            </div>

            <div class="mt-4 text-center text-gray-200">
                <p>Ciência da Computação | Universidade Federal do Amapá</p>
                <p>Endereço: Rodovia Josmar Chaves Pinto - KM 02, 68903-419 - Macapá - AP</p>
            </div>
        </div>
    </div>
</footer>