<div class="mt-6 flex justify-center space-x-4">
    <%  if(total > 9) {
        if (page > 1) { %>
        <a href="/<%=rota%>page=<%= page - 1 %>&limit=9" 
            class="py-2 px-4 bg-blue-700 text-white rounded hover:bg-blue-800">
            Página Anterior
        </a>
    <% } %>
    <% if (page < totalPages) { %>
        <a href="/<%=rota%>page=<%= page + 1 %>&limit=9" 
            class="py-2 px-4 bg-blue-700 text-white rounded hover:bg-blue-800">
            Próxima Página
        </a>
    <% }} %>
</div>