<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduGames</title>
    <link href="/dist/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        /* Adicionando a transição para hover */
        .game-card img {
            transition: opacity 0.5s ease-in-out;
        }

        .game-card:hover img {
            opacity: 0.7;
        }
    </style>
</head>
<body>

    <%- include('partials/cabecalho') %>
        
    <main>
        <%- include('partials/central') %>
        <section class="my-2 py-2 md:my-4 md:py-4">
            <h1 class="text-3xl text-center font-bold">Sobre o Projeto</h1>
            <hr class="my-2">
            <p class="flex justify-between text-gray-700 text-lg">
                O EduGames é um projeto desenvolvido pelo curso de Ciência da Computação da Universidade 
                Federal do Amapá (UNIFAP) com o objetivo de catalogar jogos digitais educativos que abordam 
                conceitos da área de computação. O foco é facilitar o acesso a recursos que ajudam no 
                ensino e aprendizagem de temas como programação, algoritmos, estruturas de dados e lógica 
                computacional.<br>
                A proposta do projeto é proporcionar uma alternativa interativa e envolvente para complementar 
                o ensino tradicional, utilizando jogos como ferramentas para reforçar o aprendizado de maneira 
                prática e lúdica. O EduGames busca promover o uso da gamificação como um meio eficaz para 
                estimular o interesse dos alunos pela área da computação e tornar o processo de aprendizagem 
                mais dinâmico e acessível.
            </p>
        </section>

        <section class="text-center"> <!-- Galeria de Jogos -->
            <h1 class="py-4 text-2xl font-bold">Galeria de Jogos</h1>
            <%- include('partials/game-card', { jogos: jogos }) %>
            <div class="py-4 mt-6">
                <a href="/todos-jogos?page=1&limit=9" class="py-2 px-4 text-white font-bold bg-blue-500 hover:bg-blue-700 rounded inline-block">
                    Ver Todos
                </a>
            </div>           
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/utils.js"></script>
</body>
</html>
