<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Games Hub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="flex flex-col min-h-screen bg-gray-100">

    <%- include('partials/cabecalho')%>

    <main class="flex-grow w-3/4 mx-auto my-8 py-6 px-32 rounded-lg bg-white shadow-lg">
        <section>
            <%- include('partials/central') %>
            <h2 class="text-xl font-bold mb-4 text-center">Quem Somos</h2>
            <p class="mb-4 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi est lacus, varius eget molestie id, vehicula sed libero. 
                Pellentesque ullamcorper justo eu condimentum varius. Pellentesque 
                felis ex, volutpat a pretium nec, consequat non massa. Nunc ornare at 
                mi ac luctus. Aenean sapien augue, ullamcorper ac accumsan ac, volutpat 
                id enim. Suspendisse fringilla risus est, nec imperdiet tellus ornare ut. 
                Integer congue purus eu orci tristique, vel consectetur mi luctus. Mauris 
                elit sem, sagittis quis aliquam in, elementum et libero. Mauris vehicula 
                nec augue ut bibendum. Sed a dolor odio. Vestibulum ante ipsum primis in
                 faucibus orci luctus et ultrices posuere cubilia curae; Quisque in suscipit 
                 felis, eu laoreet urna.
            </p>
        </section>
    
        <div class="flex justify-between">
            <section class="flex-1 mr-4">
                <h2 class="mb-4 text-center text-xl font-bold">Nossa Missão</h2>
                <p class="mb-4 text-gray-700">
                    Integer congue purus eu orci tristique, vel consectetur mi luctus. Mauris 
                    elit sem, sagittis quis aliquam in, elementum et libero. Mauris vehicula 
                    nec augue ut bibendum. Sed a dolor odio.
                </p>
            </section>
    
            <section class="flex-1">
                <h2 class="mb-4 text-center text-xl font-bold">Nossos Valores</h2>
                <div class="flex justify-center">
                    <ul class="list-disc text-gray-700">
                        <li>Inovação</li>
                        <li>Educação de qualidade</li>
                        <li>Colaboração</li>
                        <li>Entretenimento responsável</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    
    <%- include('partials/footer')%>

</body>
</html>
