<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - EduGames</title>
    <link href="/dist/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <%- include('partials/cabecalho')%>

    <main>
        <%- include('partials/central') %>
        <section>
            <h2 class="text-xl font-bold mb-4 text-center">Quem Somos</h2>
            <p class="mb-4 text-gray-700">
                O EduGames é um projeto inovador desenvolvido como parte do Trabalho de Conclusão 
                de Curso (TCC) de Eduardo Rodrigues Nogueira, sob orientação do Professor Dr. 
                Júlio Cezar Costa Furtado, no curso de Ciência da Computação da Universidade Federal 
                do Amapá (UNIFAP), em 2025. O projeto visa catalogar e promover jogos digitais educativos 
                que abordam conceitos fundamentais da área de computação, como programação, algoritmos, 
                estruturas de dados e lógica computacional. A plataforma é resultado da colaboração com o 
                grupo de pesquisa SERDE (Software Engineering: Research, Development and Education),
                coordenado pelo Professor Dr. Júlio Cezar Costa Furtado.
            </p>
        </section>
    
        <div class="flex justify-between">
            <section class="flex-1 mr-4">
                <h2 class="mb-4 text-center text-xl font-bold">Nossa Missão</h2>
                <p class="mb-4 text-gray-700">
                    Nossa missão é oferecer uma alternativa interativa e envolvente ao ensino tradicional, 
                    utilizando jogos digitais como ferramentas pedagógicas para reforçar o aprendizado de 
                    conceitos essenciais de computação. Buscamos transformar a experiência de aprendizagem, 
                    tornando-a mais dinâmica e acessível, ao mesmo tempo em que estimulamos o interesse dos 
                    alunos pela área da computação. Através da gamificação, queremos proporcionar aos estudantes 
                    uma maneira prática, divertida e eficaz de explorar temas como programação, algoritmos, 
                    estruturas de dados, entre outros conceitos fundamentais da área.
                </p>
            </section>
    
            <section class="flex-1">
                <h2 class="mb-4 text-center text-xl font-bold">Nossos Valores</h2>
                <div class="flex justify-center">
                    <ul>
                        <li><strong>Inovação</strong>: Acreditamos que a tecnologia pode transformar a educação, e buscamos constantemente novas formas de integrar jogos e recursos digitais no processo de aprendizagem.</li>
                        <li><strong>Acessibilidade</strong>: Nosso compromisso é tornar o ensino de computação mais acessível a todos, independentemente de sua formação ou recursos disponíveis.</li>
                        <li><strong>Engajamento</strong>: Valorizamos o interesse e o envolvimento dos alunos, acreditando que a gamificação é uma poderosa ferramenta para motivar e inspirar a aprendizagem.</li>
                        <li><strong>Colaboração</strong>: O EduGames é fruto da colaboração entre acadêmicos, professores e pesquisadores, como parte do grupo SERDE, que busca integrar soluções tecnológicas no campo educacional.</li>
                        <li><strong>Praticidade</strong>: Buscamos tornar o aprendizado mais prático e direto, conectando teoria e prática de forma eficaz por meio de jogos que desafiem os alunos de maneira envolvente.</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    
    <%- include('partials/footer')%>

</body>
</html>
